run = "npm run dev"

[nix]
channel = "stable-22_11"

[languages]
  [languages.typescript]
  pattern = "**/{*.ts,*.js,*.tsx,*.jsx,*.json}"
    [languages.typescript.languageServer]
    start = "typescript-language-server --stdio"