run = "npm run dev"
hidden = [".config"]

[nix]
channel = "stable-22_11"

[languages]
  [languages.typescript]
  pattern = "**/{*.ts,*.js,*.tsx,*.jsx,*.json}"
    [languages.typescript.languageServer]
    start = "typescript-language-server --stdio"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[deployment]
publicDir = "/"
deploymentTarget = "static"
